body
{
	margin:0px;
	border:0px;
	padding:0px;
	background-color: #BDD9FF;
}

img, div, a
{
	margin:0px;
	border:0px;
	padding:0px;
}

p, ul li
{
 	font-family: Arial,Verdana,Segoe,sans-serif;
	font-size:1em;
	color:#000000;
	padding-bottom: 5px;
}

h2 
{
 	font-family: Arial,Verdana,Segoe,sans-serif;
	font-size:14px;
	color:#000000;
}

#header {
  text-align: left;
  color: #000000;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 50px;
  background:  #849CE7 url(images/glassitem.gif) right top;
  clear:both;
}

#navigation
{
  text-align:left;
	margin: 0px;
  padding: 0px;
	width: 798px;
	height:25px;
	position: relative;
	background-image: url(images/bar.gif);
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
div#navigation ul {
  margin: 0px;
  padding: 0px;
  font-family: Arial,Verdana,Segoe,sans-serif;
  font-size: 10pt;
  color: #000000;
  line-height: 24px;
  white-space: nowrap;
  border-bottom: 1px solid #ffffff;
}
div#navigation li {
  margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline;
}
div#navigation li a {
  margin: 0px;
  padding: 0px;
	width: 100px;
	text-decoration: none;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:10px;
	margin-right: 0px;
}
div#navigation li a:link {
	/*color: #000000;*/
}
div#navigation li a:visited {
	/*color: #000000;*/
}
div#navigation li a:hover {
	/*color: #000000;*/
	text-decoration: underline;
}

/*
#zune #nav-zune a,
#into #nav-into a {
	background-image: url(images/gradcp.gif);
	background-repeat: repeat-x;
	color: #ffffff;
	background-color:#5A7EDC;
}
*/

#nav-home a,
#nav-comp a,
#nav-stan a,
#nav-prem a,
#nav-deve a,
#nav-supp a,
#nav-ware a {
  color: #000000;
}

#comp #nav-comp a
{
	background-image: url(images/gradco.gif);
	background-repeat: repeat-x;
	color: #000000;
	background-color:#EF6B39;
}
#stan #nav-stan a
{
	background-image: url(images/gradst.gif);
	background-repeat: repeat-x;
	color: #ffffff;
	background-color:#A5A5BD;
}
#prem #nav-prem a
{
	background-image: url(images/gradpr.gif);
	background-repeat: repeat-x;
	color: #000000;
	background-color:#EFCE73;
}
#deve #nav-deve a
{
	background-image: url(images/gradde.gif);
	background-repeat: repeat-x;
	color: #ffffff;
	background-color:#ffffff;
}

#home #nav-home a,
#down #nav-down a,
#supp #nav-supp a {
	background-image: url(images/hot.gif);
	background-repeat: repeat-x;
	color: #000000;
	background-color:#ffffff;
}

#top_section_bg
{
	background-image: url(images/inner_top_bg.gif);
	background-repeat: repeat-x;
	background-color: #B6D5FF;
	padding-top:20px;
}
#bottom_section_bg
{
	background-image: url(images/inner_bottom_bg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	text-align: center;
	margin: 0px;
}

#main
{
  margin: 0px;
	padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
	font-size: 0.80em;
	width: 100%;
	position:relative;
	color:#000000;
	overflow:visible;
	float:left;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
	width: 750px;
}

#page
{
  text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	padding:0px;
}

#content
{
  margin: 0px;
  padding: 0px;
	position:relative;
	background-color:#ffffff;
	padding-top: 5px;
	width: 800px;
}

.minibar
{
  background-color: #ffffff;
  height: 29px;
	width: 750px;
}

.image {
	vertical-align: middle;
	float: right;
}

dt {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
  color: #5A7EDC;
	margin : 0px;
	padding : 0px;
	margin-bottom: 5px;
}

dd {
  margin : 0px;
	padding : 0px;
}

dd p.date  {
	margin : 0px;
	padding-top : .25em;
	font-size : 95%;
}

.welcome
{
  background-color: #ffffff;
  width: 710px;
  height: 120px;
  padding: 20px;
}

.listview
{
  padding: 0px 0px 0px 0px;	
  margin: 0px 0px 15px 0px;
	display: block;
	width:100%;
}

.listviewimage
{
  position: relative;
  float: left;
	margin: 0px 10px 0px 0px;
}

.listviewtext
{
/*  top:-0.75em*/
  top:-10px;
  position: relative;
	float: left;
  line-height: 15px;
}

.listviewtitle
{
  padding: 0px 0px 0px 0px;	
	margin: 10px 0px -15px 0px;	
}

.gradient_text a:link 
{
  color: #ffffff; 
  text-decoration: none;
}
.gradient_text a:visited 
{
  color: #ffffff; 
	text-decoration: none;
}
.gradient_text a:active 
{
  color: #ffffff; 
  text-decoration: none; 
  cursor: pointer;
}
.gradient_text a:hover 
{
  color: #ffffff; 
  text-decoration: underline; 
  cursor: pointer; 
}

.gradient_compact
{
  background-image: url(images/gradco.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
  background-color: #EF6B39;
  margin: 2px;
	padding: 0px;
	width: 746px;
	height: 25px;
}

.gradient_standard
{
  background-image: url(images/gradst.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
  background-color: #A5A5BD;
  margin: 2px;
	padding: 0px;
	width: 746px;
	height: 25px;
}

.gradient_premiere
{
  background-image: url(images/gradpr.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
  background-color: #EFCE73;
  margin: 2px;
	padding: 0px;
	width: 746px;
	height: 25px;
}

.gradient_developer
{
  margin:0px;
	padding:0px;
  background-image: url(images/gradde.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
  background-color: #42BA42;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	width: 760px;
	height: 25px;
}

.gradient_text
{
  text-align:left;
  margin: 0px;
	padding: 0px;
  font-family: Arial,Verdana,Segoe,sans-serif;
  font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	margin-top: 4px;
	margin-left: 4px;
}

.info
{
  color: #000000;
	font-size: 11px; 
	font-family: Verdana, Geneva, Arial, sans-serif;
  vertical-align: middle;
	text-align: center;
  background-color: #ffffff;
  height: 25px;
	line-height: 25px;
	width: 750px;
	margin-bottom: 5px;
}

.gallery
{
}

.gallery-item
{
  padding: 10px;
 	float:left;
}

#bottombar {
  margin: 0px;
	padding: 0px;
  color: #000000;
  font-size: 11px; 
  font-family: Verdana, Geneva, Arial, sans-serif;
  background-color: #ffffff;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 25px;
  line-height: 25px;
}

#widgetbar {
  			 height:18px;
				 background-color: #5A7EDC;
				 padding: 4px 4px 1px 4px;
				 clear:both;	
}

#footer
{	
  background: #5A7EDC url(images/glassitemi.gif) right bottom;
	height:50px;
	width:800px;
	color:#ffffff;
	position:absolute;
	bottom:0px;
	clear:left;
}

.footer-button-xhtml {
				 position: relative;
				 top: -18px;
				 left: 383px; 
}

.footer-button-css {
				 position: relative;
				 top: -18px;
				 left: 383px;						 
}

#bottom 
{
 height: 25px;
}