img {
		 		 border: none;
}

body {
     		 color: #000000;
		 		 background-color: #AEAEAE;
}

#main {
			   position: absolute;
				 top: 5px;
				 left: 5px;				 
}

#content {
				 color: #000000;
				 background-color: #ffffff; 
				 font-size: 12px; 
				 font-family: Verdana, Geneva, Arial, sans-serif; 
				 padding-left: 5px;
				 padding-right: 5px;
				 padding-top: 5px;
				 padding-bottom: 5px;
				 top: 10px;
				 left: 10px;
				 width: 690px;
				 clear:both; 
}

#content-item {
				 padding-left: 10px;
				 padding-right: 10px;
				 padding-top: 10px;
				 padding-bottom: 10px;				 
}

#description {
				 color: #000000;
				 background-color: #ffffff;  
				 font-size: 11px; 
				 font-family: Verdana, Geneva, Arial, sans-serif; 
				 position: absolute;
				 left: 300px;
				 top: 20px;
				 width: 350px;					 
}

#description-title {
				 color: #000000; 
				 background-color: #ffffff; 
				 font-size: 14px; 
				 font-family: Verdana, Geneva, Arial, sans-serif; 	 
}

div#navigation {
				 margin: 0px;
				 padding: 0px;
				 color: #000000;
				 left: 0px;
				 width: 700px;
				 height: 40px;
				 background: #D2E4F2 url(images/navbarbg.jpg) right top;
				 clear:both;	
}

div#navigation ul {
				margin: 0px;
				padding: 0px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 10pt;
				color: #000000;
				line-height: 40px;
				white-space: nowrap;
}

div#navigation li {
				 list-style-type: none;
				 display: inline;
}

div#navigation li a {
				 text-decoration: none;
				 margin: 0px;
			   padding: 12px 20px;
				 color: #000000;
}
div#navigation li a:link {
				 color: #000000;
}
div#navigation li a:visited {
				 color: #000000;
}
div#navigation li a:hover {
				 color: #000000;
				 text-decoration: underline;
}

#home #nav-home a,
#info #nav-info a,
#rele #nav-rele a,
#down #nav-down a,
#supp #nav-supp a {
					color: #000000;
					background-color:#ffffff;
}

#header {
				 color: #000000;
				 top: 0px;
				 left: 0px;
				 width: 700px;
				 height: 50px;
				 background: #849CE7 url(images/glassitem.jpg) right top;
				 clear:both;
}

#graphic-item {
				 color: #000000;
				 background-color: #5A7EDC;
				 top: 50px;
				 left: 0px;
				 width: 700px;
				 height: 120px;
				 clear:both;	
}


#navbar {
				 color: #000000;
				 background-color: #D2E4F2;
				 top: 170px;
				 left: 0px;
				 width: 700px;
				 height: 40px;
				 clear:both;	
}

dl.genitem { 
					margin : .5em;
					padding : 1em;
				  border : 1px solid #5A7EDC;
}

dl.newsitem { 
					margin : .5em;
					padding : 1em;
				  border : 1px solid #5A7EDC;
}

dd {
	 			  margin : 0px;
	 			  padding : 0px;
}

dt {
	 				color: #5A7EDC;
	 			  margin : 0px;
	 			  padding : 0px;
}

dd p  {
	 		 	  padding : 0px;
}

dd p.date  {
	 			 margin : 0px;
	 		   padding-top : .25em;
			   font-size : 92%;
}


.ImageList
{
				 position: relative;
				 width: 515px;
				 height: 70px;
				 padding: 0 0 0 0px;	
				 margin: 0 0 20px 0;
}

.ImageListImage
{
				 position: relative;
				 float: left;
				 width: 70px;
				 height: 70px;
}	

.ImageListText
{
				 position: relative;
				 float: left;
				 width: 394px;
				 height:70px;
				 padding: 0 0 0 8px;
}

.ImageListTitle
{
				 position: relative;
				 padding: 0 0 11px 0;
}

.ImageListBlurb
{
				 position: relative;
				 font-size: 11px;
				 line-height: 15px;
}

.WallpaperList
{
				 position: relative;
				 width: 615px;
				 height: 155px;
				 padding: 0 0 0 0px;	
				 margin: 0 0 20px 0;
}

.WallpaperListImage
{
				 position: relative;
				 float: left;
				 width: 205px;
				 height: 155px;
}	

.EssentialsListImage
{
				 position: relative;
				 float: left;
				 width: 95px;
				 height: 70px;
}	

.image {
			 	 margin-left: 5px;
	 			 vertical-align: middle;
				 float: right;
}

.gallery img {
				 display: inline;
				 margin: 5px;
				 border: 1px solid #5A7EDC;
}

#widgetbar {
				 color: #000000;
				 font-size: 11px; 
				 font-family: Verdana, Geneva, Arial, sans-serif;
				 background-color: #ffffff;
				 vertical-align: middle;
				 text-align: center;
				 width: 700px;
				 height: 25px;
				 line-height: 25px;
				 clear:both;
}

#footer {
				 color: #ffffff;
				 width: 700px;
				 height: 50px;
				 background: #5A7EDC url(images/glassitemi.jpg) right bottom;
				 clear:both;		
}

.footer-button-xhtml {
				 position: relative;
				 top: -18px;
				 left: 287px; 
}

.footer-button-css {
				 position: relative;
				 top: -18px;
				 left: 287px;						 
}
